/* Navbar */
.navbar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #033b01;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.navbar__logo {
    width: 500px;
    height: auto;
}

.navbar__links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    box-shadow: #033b01;
}

.navbar__link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }

    .navbar__logo {
        width: 100px;
        /* ajusta o tamanho da logo em telas pequenas */
    }

    .navbar__links {
        flex-direction: column;
        /* ajusta a navbar para uma coluna em telas pequenas */
    }

    .converter__container {
        width: 90%;
        /* ajusta a largura do container principal */
        padding: 1rem;
        /* reduz o padding */
    }
}