* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/fundo.png');
    background-size: 100% auto; /* preserva a proporção */
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed; /* faz o fundo não rolar com o conteúdo */
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 80px;
}

/* Novo container para centralizar e alinhar conteúdo em coluna */

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 10px;
}

/* Títulos */
h1, h2 {
    text-align: left; /* agora alinhado à esquerda */
    margin-bottom: 20px;
    color: #033b01;
}

/* Parágrafos */
p {
    text-align: justify; /* opcional: deixa o texto mais fluido */
    margin-bottom: 20px;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: #3a7a4e;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 5px;
}